@charset "UTF-8";
/*
Min VP: 320px, 16px, 1.33
MaxVP: 1920px, 20px, 1.33
*/
/* Space 5xs: 2px → 2px */
/* Space 4xs: 3px → 4px */
/* Space 3xs: 4px → 5px */
/* Space 2xs: 8px → 10px */
/* Space xs: 12px → 15px */
/* Space s: 16px → 20px */
/* Space m: 24px → 30px */
/* Space lg: 32px → 40px */
/* Space xl: 48px → 60px */
/* Space 2xl: 64px → 80px */
/* Space 3xl: 96px → 120px */
/* Space 4xl: 112px → 140px */
/* Space 5xl: 128px → 160px */
/* Space 6xl: 144px → 180px */
/* Space 7xl: 160px → 200px */
/* One-up pairs */
/* Space 2xs-xs: 8px → 15px */
/* Space xs-s: 12px → 20px */
/* Space s-m: 16px → 30px */
/* Space m-lg: 24px → 40px */
/* Space lg-xl: 32px → 60px */
/* Space xl-2xl: 48px → 80px */
/* Space 2xl-3xl: 64px → 120px */
/* Space 3xl-4xl: 96px → 140px */
/* Space 4xl-5xl: 112px → 160px */
/* Space 5xl-6xl: 128px → 180px */
/* Space 6xl-7xl: 144px → 200px */
/**
/** Font Size
/**
Min VP: 320px, 16px, 1.33
MaxVP: 1920px, 20px, 1.33
*/
/* Step -3: 6.76px → 8.44px */
/* Step -2: 9.00px → 11.26px */
/* Step -1: 12.00px → 15.00px */
/* Step 0: 16.00px → 20.00px */
/* Step 1: 21.33px → 26.66px */
/* Step 2: 28.43px → 35.54px */
/* Step 3: 37.90px → 47.37px */
/* Step 4: 50.52px → 63.15px */
/* Step 5: 67.34px → 84.17px */
/* Step 6: 89.76px → 112.20px */
/**
/** Colors
/**/
/**
/** Border Radius
/**/
.container {
  padding: clamp(4rem, 3.8rem + 1vw, 5rem);
}
@media (max-width: 62.5em) {
  .container {
    padding: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  }
}
@media (max-width: 31.25em) {
  .container {
    padding: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  }
}

.uppercase {
  text-transform: uppercase;
}

.normalcase {
  text-transform: none;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

@keyframes bg-left-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
}
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
}

body {
  font-family: "Lexend", sans-serif;
}

body {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

p {
  line-height: 1.4;
  font-weight: 300;
}

.paragraph--primary {
  color: #00488b;
}
.paragraph--white {
  color: #f9f9f9;
}
.paragraph--gray {
  color: #dedee4;
}
.paragraph--primary {
  color: #00488b;
}
.paragraph--bold {
  font-weight: 700;
}
.paragraph--semibold {
  font-weight: 500;
}
.paragraph--block {
  text-align: justify;
}

.heading {
  color: #00488b;
  width: fit-content;
}
@media (max-width: 31.25em) {
  .heading {
    width: fit-content;
  }
}
.heading--white {
  color: #f9f9f9;
}
.heading--gray {
  color: #dedee4;
}
.heading--gray-dark {
  color: #6f6f72;
}
.heading--primary {
  color: #00488b;
}
.heading--upper {
  color: #6f6f72;
  font-size: clamp(1.3331rem, 1.2665rem + 0.3331vw, 1.6663rem);
  letter-spacing: -0.1rem;
  font-weight: 400;
}
.heading--lower {
  font-size: clamp(3.1575rem, 2.9996rem + 0.7894vw, 3.9469rem);
  text-transform: uppercase;
  font-weight: 700;
}
.heading--lower--future {
  letter-spacing: 1.4rem;
}
@media (max-width: 31.25em) {
  .heading--lower--future {
    letter-spacing: 1rem;
  }
}
.heading--bigSpan {
  font-size: clamp(1.3331rem, 1.2665rem + 0.3331vw, 1.6663rem);
}
.heading--h1 {
  line-height: 1.1;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: clamp(2.3688rem, 2.2504rem + 0.5919vw, 2.9606rem);
  text-transform: uppercase;
  text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.3);
}
@media (max-width: 31.25em) {
  .heading--h1 {
    font-size: clamp(1.7769rem, 1.688rem + 0.4444vw, 2.2213rem);
  }
}
.heading--h2 {
  line-height: 0.85;
  margin-block-end: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  width: fit-content;
}
.heading--h3 {
  margin-block-end: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  font-size: clamp(1.7769rem, 1.688rem + 0.4444vw, 2.2213rem);
  font-weight: 400;
  text-transform: uppercase;
}
.heading--h4 {
  font-weight: 400;
  text-transform: uppercase;
}

.section__footer {
  background-color: #f9f9f9;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 62.5em) {
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  }
}
@media (max-width: 20em) {
  .footer {
    grid-template-columns: 1fr;
  }
}
.footer__heading {
  color: #00488b;
  font-size: clamp(1.3331rem, 1.2665rem + 0.3331vw, 1.6663rem);
  margin-bottom: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
}
.footer__li {
  color: #100c08;
}
.footer__disclaimer {
  margin-top: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);
  font-size: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  color: #6f6f72;
}

.carreer__li,
.links__li {
  color: #6f6f72;
  transition: all 0.3s;
}
.carreer__li:hover,
.links__li:hover {
  color: #00488b;
  cursor: pointer;
  transform: translateX(5px);
}

.cwm {
  margin-top: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  display: flex;
  align-items: center;
}
.cwm p a {
  color: #601cbf;
  border: 1px solid transparent;
}
.cwm p a:hover {
  border-bottom: 2px solid #601cbf;
}

ion-icon {
  margin-left: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  display: inline-block;
  color: #601cbf;
  fill: #601cbf;
  height: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  width: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  padding: 0.5rem;
  border: 2px solid transparent;
}
ion-icon:hover {
  border: 2px solid #601cbf;
  border-radius: 1000px;
}

.btn {
  padding-block: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  padding-inline: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  border-radius: 0.2rem;
  width: fit-content;
  display: inline-block;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 700;
  color: #f9f9f9;
  text-transform: uppercase;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: all 0.3s;
}
.btn:hover {
  background-color: #ede6dd;
  color: #00488b;
}
.btn--primary {
  background-color: #00488b;
}
.btn--gray-dark {
  background-color: #6f6f72;
}

.btn-s {
  background-color: #f9f9f9;
  font-weight: 300;
  display: inline-block;
  border-radius: 0.2rem;
  padding-block: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  padding-inline: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: all 0.3s;
  color: #00488b;
  border: 1px solid transparent;
}
.btn-s:hover {
  background-color: #00488b;
  border: 1px solid white;
  color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdesk {
  width: 100%;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: hidden !important;
}
@media (max-width: 62.5em) {
  .navdesk {
    flex-direction: column;
  }
}
.navdesk.show {
  pointer-events: none;
}
.navdesk__products {
  transform: translateX(-200%);
  flex: 1 1 60%;
  background-color: #00488b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  transition: all 0.4s;
}
.navdesk__menu {
  transform: translateX(200%);
  transition: all 0.4s;
  flex: 1 1 40%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
}
@media (max-width: 87.5em) {
  .navdesk__menu {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
@media (max-width: 62.5em) {
  .navdesk__menu {
    flex-direction: row;
    gap: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);
    justify-content: start;
  }
}
@media (max-width: 31.25em) {
  .navdesk__menu {
    justify-content: space-between;
    gap: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
    justify-content: start;
  }
}
.navdesk__products.show, .navdesk__menu.show {
  transform: translateX(0);
}
.navdesk__icon {
  stroke: #f9f9f9;
  height: 3rem;
  width: 3rem;
  fill: white;
}

.products__heading {
  color: #f9f9f9;
  font-size: clamp(3.1575rem, 2.9996rem + 0.7894vw, 3.9469rem);
  width: 85%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding-block: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  padding-inline: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #f9f9f9 50%);
  background-size: 300%;
  transition: all 0.3s;
}
@media (max-width: 87.5em) {
  .products__heading {
    flex-direction: row-reverse;
    justify-content: start;
    gap: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  }
}
@media (max-width: 62.5em) {
  .products__heading {
    font-size: clamp(2.3688rem, 2.2504rem + 0.5919vw, 2.9606rem);
  }
}
@media (max-width: 31.25em) {
  .products__heading {
    font-size: clamp(1.3331rem, 1.2665rem + 0.3331vw, 1.6663rem);
    width: fit-content;
    padding-block: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
    padding-inline: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
    gap: 0;
    flex-direction: column-reverse;
  }
}
.products__heading:hover {
  background-position: 100%;
  color: #00488b;
  transform: translateX(5px);
}
.products__heading:hover .navdesk__icon {
  fill: #00488b;
  stroke: #00488b;
}

.menu__box {
  height: fit-content;
}

.menu__link {
  transition: all 0.3s;
  width: fit-content;
}
.menu__link:hover {
  cursor: pointer;
  color: #00488b;
  transform: translateX(5px);
}
.menu__link--heading {
  font-weight: 500;
  text-transform: uppercase;
  color: #00488b;
  margin-bottom: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
}

.hb__container {
  z-index: 10;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  position: relative;
}
.hb__container:hover .hb__line {
  background-color: #00488b;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.hb__line {
  display: inline-block;
}
.hb__line--close {
  display: none;
}
.hb__line, .hb__line--close {
  border-radius: 0.125rem;
  border-width: 1px;
  width: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  height: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
  background-color: #f9f9f9;
  transition: all 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transform-origin: center;
}
.hb__line.open {
  display: none;
}
.hb__line ~ .hb__line--close {
  position: absolute;
  transform: rotate(0deg);
}
.hb__line.open ~ .hb__line--close {
  right: 0;
  display: inline-block;
  transform-origin: center;
  background-color: #00488b;
}
@media (max-width: 62.5em) {
  .hb__line.open ~ .hb__line--close {
    background-color: #f9f9f9;
  }
}
.hb__line.open ~ .hb__line--close:nth-last-of-type(2) {
  transform: rotate(45deg);
}
.hb__line.open ~ .hb__line--close:nth-last-of-type(1) {
  transform: rotate(-45deg);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100svh;
  background: url(./img/hero.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__main {
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  padding-bottom: clamp(7rem, 6.65rem + 1.75vw, 8.75rem);
}
@media (max-width: 31.25em) {
  .hero__main {
    padding-top: clamp(7rem, 6.65rem + 1.75vw, 8.75rem);
    padding-bottom: 0;
  }
}
.hero__sub {
  display: flex;
  align-items: center;
}
.hero__sub-line {
  display: inline-block;
  height: clamp(0.125rem, 0.125rem + 0vw, 0.125rem);
  background-color: #f9f9f9;
}
.hero__sub-line--short {
  width: 8.333333%;
}
.hero__sub-line--long {
  width: 100%;
}
.hero__sub-solutions {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  margin-inline: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 300;
  color: #f9f9f9;
  white-space: nowrap;
}

.logo {
  font-size: clamp(1.7769rem, 1.688rem + 0.4444vw, 2.2213rem);
  color: #f9f9f9;
}

.about__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100svh;
}
@media (max-width: 31.25em) {
  .about__container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    height: 100%;
    margin-bottom: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);
  }
}
.about__main {
  grid-column: 1/7;
  height: fit-content;
}
@media (max-width: 31.25em) {
  .about__main {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.about__imgbox-big {
  grid-column: 10/-1;
  grid-row: 1/3;
  border-left: 2px solid #00488b;
  background-color: #00488b;
}
@media (max-width: 31.25em) {
  .about__imgbox-big {
    display: none;
  }
}
.about__imgbox-small {
  grid-row: 2/3;
  grid-column: 1/6;
  position: relative;
  display: flex;
  align-self: end;
}
@media (max-width: 31.25em) {
  .about__imgbox-small {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.about__img-big {
  object-fit: cover;
  height: 100%;
  width: auto;
}
.about__img-small {
  height: 80%;
  background-size: cover;
  background-image: url(./img/about/solarpanel.jpg);
}
@media (max-width: 31.25em) {
  .about__img-small {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: 6/10;
}
@media (max-width: 31.25em) {
  .about__progress {
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 14rem;
  }
}

.energyinfo__container {
  display: flex;
  padding-inline: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  padding-block: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  gap: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  justify-content: space-around;
  background-color: #dedee4;
  width: 80%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
@media (max-width: 31.25em) {
  .energyinfo__container {
    width: min-content;
    padding-inline: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    padding-block: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
    gap: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    transform: translate(0);
    left: 0;
    position: relative;
    width: 95%;
  }
}
.energyinfo__power {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
  justify-content: space-between;
  white-space: nowrap;
}

.progress-ring {
  z-index: -10;
  width: clamp(8rem, 7.6rem + 2vw, 10rem);
  height: clamp(8rem, 7.6rem + 2vw, 10rem);
  fill: #dedee4;
  stroke: #00488b;
  stroke-width: 4px;
}
@media (max-width: 31.25em) {
  .progress-ring {
    width: clamp(7rem, 6.65rem + 1.75vw, 8.75rem);
    height: clamp(7rem, 6.65rem + 1.75vw, 8.75rem);
  }
}
.progress-ring__container {
  position: relative;
  display: inline-block;
}
.progress-ring__container:first-child {
  transform: translate(40%, 50%);
}
@media (max-width: 31.25em) {
  .progress-ring__container:first-child {
    transform: translate(0, 20%);
  }
}
.progress-ring__container:nth-child(2) {
  transform: translateY(-50%);
}
@media (max-width: 31.25em) {
  .progress-ring__container:nth-child(2) {
    transform: translate(0, -50%);
  }
}
.progress-ring__container:last-child {
  transform: translate(-40%, 50%);
}
@media (max-width: 31.25em) {
  .progress-ring__container:last-child {
    transform: translate(0, 20%);
  }
}
.progress-ring__circle {
  transition: stroke-dashoffset 2s;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  stroke-width: 4px;
  fill: none;
  stroke: #f9f9f9;
}
.progress-ring__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.progress-ring__text--main {
  color: #00488b;
  font-size: clamp(1.3331rem, 1.2665rem + 0.3331vw, 1.6663rem);
}

.overlay {
  position: relative;
}

/*
EVERYTHING FOR ANIMATION
*/
.textContainerStart {
  pointer-events: none;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00488b;
}

.textStart {
  background: url(./img/windTurbines.jpg);
  background-size: cover;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: transparent;
  text-transform: uppercase;
  background-clip: text;
  background-size: cover;
  font-size: 450px;
}
@media (max-width: 31.25em) {
  .textStart {
    font-size: 130px;
  }
}

.textContainerEnd {
  position: sticky;
  top: -90px;
  display: flex;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: flex-start;
  height: fit-content;
  width: 100%;
}
@media (max-width: 31.25em) {
  .textContainerEnd {
    grid-template-columns: 1fr min-content;
  }
}
.textContainerEnd__wrapper {
  position: sticky;
  top: 0;
  height: fit-content;
  width: fit-content;
  padding-top: clamp(9rem, 8.55rem + 2.25vw, 11.25rem);
  padding-right: clamp(4rem, 3.8rem + 1vw, 5rem);
}
@media (max-width: 31.25em) {
  .textContainerEnd__wrapper {
    width: 100%;
    background-color: #f9f9f9;
    z-index: 7;
    position: relative;
  }
}
.textContainerEnd__wrapper-inner {
  display: inline-block;
}
@media (max-width: 31.25em) {
  .textContainerEnd__wrapper-inner {
    grid-column: 1/span 2;
    width: min-content;
    width: 100%;
  }
}
@media (max-width: 31.25em) {
  .textContainerEnd__wrapper {
    padding: 0;
    background-color: #f9f9f9;
    display: block;
  }
}

.mission {
  position: relative;
  height: 100%;
  width: fit-content;
  border-left: 2px solid #dedee4;
}
@media (max-width: 31.25em) {
  .mission {
    border: none;
    grid-column: 1/2;
  }
}
.mission__container {
  z-index: 5;
  margin-top: clamp(9rem, 8.55rem + 2.25vw, 11.25rem);
  display: inline-block;
  height: 100%;
  max-width: 56rem;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);
}
@media (max-width: 31.25em) {
  .mission__container {
    width: 100%;
    padding: 0;
    margin-top: 0;
  }
}

.mission-content__container {
  display: flex;
  height: 100svh;
  width: 80%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 31.25em) {
  .mission-content__container {
    width: 90%;
  }
}
.mission-content__container-text {
  margin-bottom: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  display: flex;
  flex-direction: column;
}
.mission-content__container-textspace {
  padding-bottom: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
}
.mission-content__container-image {
  display: inline-block;
  height: clamp(10rem, 9.5rem + 2.5vw, 12.5rem);
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.progressBlock {
  align-self: end;
}
.progressBlock__container {
  position: sticky;
  top: 50%;
  display: flex;
  height: fit-content;
  flex-shrink: 0;
  flex-direction: column;
  align-content: center;
  gap: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
}
@media (max-width: 31.25em) {
  .progressBlock__container {
    width: min-content;
    justify-self: end;
  }
}
.progressBlock--block {
  display: inline-block;
  height: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  width: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  border-radius: 0.125rem;
  background-color: #dedee4;
  transition: all 0.3s;
}
.progressBlock--block:hover {
  background-color: #00488b;
}
.progressBlock--active {
  background-color: #00488b;
}

.solutions__bg {
  height: 100svh;
  width: 100%;
  background-image: url(./img/solutions/earth-bg.jpg);
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: -5;
}

.solutions__layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(./img/solutions/earth-layer.png);
  background-size: cover;
  z-index: 2;
}
@media (max-width: 31.25em) {
  .solutions__layer {
    transform: translateY(-1%);
  }
}

.layer__text {
  position: absolute;
  top: 22.5%;
  left: 40%;
  width: 2rem;
}
@media (max-width: 31.25em) {
  .layer__text {
    left: 35%;
    top: 24.5%;
    width: 2rem;
  }
}
.layer__text .heading:first-child {
  transform: translateX(-40%);
  text-shadow: 0px 3px 0px #6f6f72, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
.layer__text .heading:last-child {
  text-shadow: 0px 3px 0px #6f6f72, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 31.25em) {
  .layer__text .heading:last-child {
    transform: translateX(-10%);
  }
}

.solutions {
  position: relative;
  z-index: 3;
  display: grid;
  background-color: #f9f9f9;
  padding-block: clamp(4rem, 3.8rem + 1vw, 5rem);
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 12rem;
}
@media (max-width: 31.25em) {
  .solutions {
    gap: 0;
  }
}
.solutions__container {
  display: grid;
  height: 100svh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 60%;
  column-gap: clamp(4rem, 3.8rem + 1vw, 5rem);
  position: sticky;
  background-color: #f9f9f9;
  top: 0;
}
@media (max-width: 31.25em) {
  .solutions__container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 20rem min-content min-content;
    height: 100%;
    position: relative;
  }
  .solutions__container:not(:last-child) {
    padding-bottom: 10rem;
  }
}
.solutions__head {
  display: flex;
  grid-column: span 2/span 2;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
}
@media (max-width: 31.25em) {
  .solutions__head {
    grid-column: 1/2;
    grid-row: 1/2;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    gap: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
    margin-bottom: 0;
  }
}
.solutions__headingbox {
  width: 50%;
  line-height: 0.5;
}
@media (max-width: 31.25em) {
  .solutions__headingbox {
    width: 100%;
  }
}
.solutions__dashline {
  display: block;
  width: 100%;
  margin-top: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  border-bottom: 1px dashed #6f6f72;
}

.solutions-inner__main {
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  height: fit-content;
  padding: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  background-color: #dedee4;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
@media (max-width: 31.25em) {
  .solutions-inner__main {
    grid-column-start: 1;
    grid-row: 4/5;
  }
}
.solutions-inner__sub {
  align-self: center;
  grid-row-start: 2;
  font-weight: 400;
  margin-bottom: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  width: 80%;
}
@media (max-width: 31.25em) {
  .solutions-inner__sub {
    grid-column-start: 1;
    grid-row: 3/4;
  }
}
.solutions-inner__canvas-container {
  grid-column-start: 2;
  grid-row: span 2/span 2;
}
@media (max-width: 31.25em) {
  .solutions-inner__canvas-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.solutions-inner__canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.solutions__content-container {
  height: fit-content;
}

#canvas1,
#canvas2,
#canvas3 {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
}
@media (max-width: 31.25em) {
  #canvas1,
  #canvas2,
  #canvas3 {
    position: relative;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
  }
}

.success__bg {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00488b;
  width: 100%;
  height: 100%;
}
.success__bg-svg {
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
  transform-origin: 50%;
}

.success {
  position: relative;
}
.success__heading-box {
  display: inline-block;
}
.success__heading-box h3 {
  margin-bottom: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
}
.success__grid {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  gap: clamp(8rem, 7.6rem + 2vw, 10rem);
}
@media (max-width: 31.25em) {
  .success__grid {
    grid-template-columns: 1fr;
  }
}

.card {
  overflow: hidden;
  border-radius: 0.5rem;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 30rem;
  background-color: #00488b;
}
@media (max-width: 31.25em) {
  .card {
    width: 100%;
  }
}
.card--solara {
  grid-column: 2/3;
}
@media (max-width: 31.25em) {
  .card--solara {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.card--windstream {
  grid-column: 1/2;
  transform: translateY(50%);
  grid-row: 1/2;
}
@media (max-width: 31.25em) {
  .card--windstream {
    grid-column: 1/2;
    grid-row: 2/3;
    transform: translate(0);
  }
}
.card--aquapure {
  grid-row: 2/3;
  grid-column: 2/3;
}
@media (max-width: 31.25em) {
  .card--aquapure {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.card__img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.card__content {
  padding: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, min-content;
}
.card__heading {
  font-weight: 600;
  color: #f9f9f9;
}
.card__text-box {
  margin-top: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
}
.card__text {
  color: #f9f9f9;
}
.card__btn-box {
  margin-top: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
}

/*# sourceMappingURL=style.css.map */
