.container {
  padding: $space-2xl;

  @include respond(br-1000) {
    padding: $space-xl;
  }
  @include respond(br-500) {
    padding: $space-md;
  }
}

.uppercase {
  text-transform: uppercase;
}

.normalcase {
  text-transform: none;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
