@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

.progress-ring {
}

.progress-ring__circle {
  transition: stroke-dashoffset 2s;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
