.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navdesk {
  // background-color: red;
  width: 100vw;
  height: 100svh;
  // position: absolute;
  top: 0;
  left: 0;
  display: flex;

  &__products {
    flex-basis: 60%;
    height: 100%;
    background-color: $c-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $space-lg;
  }
  &__menu {
    flex-basis: 40%;
    height: 100%;
    background-color: $c-white;
  }
  &__icon {
    stroke: $c-white;
    height: 3rem;
    width: 3rem;
    fill: white;
  }
}

.products__heading {
  color: $c-white;
  font-size: $fs-2xl;
  width: 85%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  padding-block: $space-xs;
  padding-inline: $space-md;

  background-image: linear-gradient(
    90deg,
    transparent 0%,
    transparent 50%,
    $c-white 50%
  );
  background-size: 200%;

  transition: all 0.3s;

  &:hover {
    background-position: 100%;
    color: $c-primary;
    transform: translateX(5px);
  }

  &:hover .navdesk__icon {
    fill: $c-primary;
    stroke: $c-primary;
  }
}
