header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100svh;
  background: url(../public/img/cssbg/hero.jpg) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__main {
    display: flex;
    flex-direction: column;
    gap: $space-xl;
    padding-bottom: $space-4xl;
    @include respond(br-500) {
      padding-top: $space-4xl;

      padding-bottom: 0;
    }
  }

  &__sub {
    display: flex;
    align-items: center;

    &-line {
      display: inline-block;
      height: $space-5xs;
      background-color: $c-white;

      &--short {
        width: 8.333333%;
      }
      &--long {
        width: 100%;
      }
    }

    &-solutions {
      font-size: $fs-base;
      margin-inline: $space-base;
      font-weight: 300;
      color: $c-white;
      white-space: nowrap;
    }
  }
}
.logo {
  font-size: $fs-lg;
  color: $c-white;
}
